<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Resource Form</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Resource</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Resource represent any xml raw or project file attached to our case</p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="flex flex-wrap justify-content-end gap-3">
                <button (click)="onCloseResource($event)" pButton pRipple label="Close Resource" class="w-auto mt-3"></button>
            </div>
        </div>
    </div>
</div>