<div class="flex flex-row">
    <!-- Filter component-->
    <div class="flex flex-column">
        <div>
            <form class="flex align-items-center gap-1" [formGroup]="analyticsFormViewGroup">
                <div class="flex flex-column">
                    <label for="name" class="control-label required">Chart Name:</label>
                    <input type="text" pInputText inputId="name" formControlName="name"/>        

                    <label for="title" class="control-label required">Chart Title:</label>
                    <input type="text" pInputText inputId="title" formControlName="title" />        

                    <div class="flex flex-wrap gap-3" style="margin-top: 10px;">
                        <div class="flex align-items-center">
                            <p-radioButton name="filterType" value="filter_sample" 
                                formControlName="filterType" inputId="filter_sample"
                                (onClick)="showFilterSampleAnnotationPanel=true; showFilterAttributeAnnotationPanel=false; onSelectAnnotationType($event)">
                            </p-radioButton>
                            <label for="filter_sample" class="control-label required ml-2">Sample Annotation</label>
                        </div>
                    
                        <div class="flex align-items-center">
                            <p-radioButton name="filterType" value="filter_attribute" 
                                formControlName="filterType" inputId="filter_attribute"
                                (onClick)="showFilterSampleAnnotationPanel=false; showFilterAttributeAnnotationPanel=true; onSelectAnnotationType($event)">
                            </p-radioButton>
                            <label for="filter_attribute" class="control-label required ml-2">Attribute Annotation</label>
                        </div>
                    </div>

                    <div *ngIf="showFilterSampleAnnotationPanel" style="margin-top: 10px; margin-bottom: 10px">
                        <p-dropdown appendTo="body" [options]="sampleAnnotations" optionValue="key" optionLabel="value" formControlName="filterSampleAnnotation"
                            placeholder="Select Sample Annotation" [style]="{'width': '230px'}"  [virtualScroll]="true" [virtualScrollItemSize]="25"
                            [showClear]="true" [filter]="true" filterBy="value">
                        </p-dropdown>
                    </div>

                    <div *ngIf="showFilterAttributeAnnotationPanel" style="margin-top: 10px; margin-bottom: 10px">
                        <p-dropdown appendTo="body" [options]="attributeAnnotations" optionValue="key" optionLabel="value" formControlName="filterAttributeAnnotation"
                            placeholder="Select Attribute Annotation" [style]="{'width': '230px'}"
                            [virtualScroll]="true" [virtualScrollItemSize]="25" [showClear]="true" [filter]="true" filterBy="value">
                        </p-dropdown>
                    </div>

                    <div *ngIf="showFilterAttributeAnnotationPanel">
                        <label for="bins" class="control-label required">Chart Bins:</label>
                        <p-inputNumber class="bin-input" inputId="bins" formControlName="bins" mode="decimal" [showButtons]="true" minValue="0"/>
                    </div>
                </div>
            </form>
        </div>

        <div class="flex flex-grow-1"></div>

        <div class="flex justify-content-end" style="margin-top: 5px;">
            <button pButton label="Calculate" class="p-button-info" [disabled]="!analyticsFormViewGroup.valid"
                (click)="onCalculateClick($event)">
            </button>
        </div>
    </div>

    <p-divider layout="vertical"></p-divider>

    <!-- Chart component-->
    <p-chart #chartPlot type="bar" class="analitycs-chart" [data]="data" [options]="options" [hidden]="!hiddenSpinner">        
    </p-chart>

    <!-- Spinner view -->
    <div class="chart-spinner" [hidden]="hiddenSpinner">
        <p-progressSpinner class="canvas-spinner"></p-progressSpinner>
    </div>
</div>