<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card p-0 overflow-hidden flex flex-column">
            <div class="flex align-items-center p-3">
                <i class="pi pi-users text-6xl text-blue-500"></i>
                <div class="ml-3">
                    <span class="text-blue-500 block white-space-nowrap">USERS REGISTERED</span>
                    <span class="text-blue-500 block text-4xl font-bold">{{dashboardResources.totalUsers}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card p-0 overflow-hidden flex flex-column">
            <div class="flex align-items-center p-3">
                <i class="pi pi-sitemap text-6xl text-orange-500"></i>
                <div class="ml-3">
                    <span class="text-orange-500 block white-space-nowrap">TOTAL CASES</span>
                    <span class="text-orange-500 block text-4xl font-bold">{{dashboardResources.totalCases}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card p-0 overflow-hidden flex flex-column">
            <div class="flex align-items-center p-3">
                <i class="pi pi-database text-6xl text-green-500"></i>
                <div class="ml-3">
                    <span class="text-green-500 block white-space-nowrap">TOTAL RESOURCES</span>
                    <span class="text-green-500 block text-4xl font-bold">{{dashboardResources.totalResources}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card h-full p-0 overflow-hidden flex flex-column">
            <div class="flex align-items-center p-3">
                <i class="pi pi-cog text-6xl text-purple-500"></i>
                <div class="ml-3">
                    <span class="text-purple-500 block white-space-nowrap">TOTAL JOBS</span>
                    <span class="text-purple-500 block text-4xl font-bold">{{dashboardResources.totalJobs}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card h-full">
            <div class="flex justify-content-between align-items-center mb-3">
                <h5>Acquisition Overview</h5>
                <p-dropdown [options]="overviewWeeks" [(ngModel)]="selectedOverviewWeek" optionLabel="name" (onChange)="changeOverviewWeek()"></p-dropdown>
            </div>
            <div class="graph">
                <p-chart #overviewchart type="bar" [data]="overviewChartData" [options]="overviewChartOptions" height="400px"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card h-full">
            <h5>Users Logged</h5>
            <ul class="list-none p-0 m-0">
                <li class="mb-4 flex align-items-center">
                    <p-avatar label="US" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgba(94, 208, 250, 0.1)', 'color': '#1992D4', 'border': '1px solid #5ED0FA'}"></p-avatar>
                    <div class="ml-3">
                        <span class="block">Miguel Angel Salinas Gancedo</span>
                        <span class="text-color-secondary block">masalinas.gancedo&#64;gmail.com</span>
                    </div>
                </li>
                <li class="mb-4 flex align-items-center">
                    <p-avatar label="US" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgba(94, 208, 250, 0.1)', 'color': '#1992D4', 'border': '1px solid #5ED0FA'}"></p-avatar>
                    <div class="ml-3">
                        <span class="block">Jose María Enguita Gonzalez</span>
                        <span class="text-color-secondary  block">jmenguita&#64;uniovi.es</span>
                    </div>
                </li>
                <li class="mb-4 flex align-items-center">
                    <p-avatar label="US" size="large" shape="circle" styleClass="text-base font-bold"
                        [style]="{'background-color':'rgba(94, 208, 250, 0.1)', 'color': '#1992D4', 'border': '1px solid #5ED0FA'}">
                    </p-avatar>
                    <div class="ml-3">
                        <span class="block">Ignacio Díaz Blanco</span>
                        <span class="text-color-secondary  block">idiaz&#64;uniovi.es</span>
                    </div>
                </li>
                <li class="mb-4 flex align-items-center">
                    <p-avatar label="AD" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgba(101, 214, 173, 0.1)', 'color': '#27AB83', 'border': '1px solid #65D6AD'}"></p-avatar>
                    <div class="ml-3">
                        <span class="block">Administrator</span>
                        <span class="text-color-secondary  block">admin&#64;uniovi.es</span>
                    </div>
                </li>
                <li class="mb-4 flex align-items-center">
                    <p-avatar label="GS" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgba(250, 219, 95, 0.1)', 'color': '#DE911D', 'border': '1px solid #FADB5F'}"></p-avatar>
                    <div class="ml-3">
                        <span class="block">Abel Alberto Cuadrado Vega</span>
                        <span class="text-color-secondary block">cuadradoabel&#64;uniovi.es'</span>
                    </div>
                </li>
            </ul>
            <button type="button" pButton pRipple class="w-full mt-3 " label="View All" icon="pi pi-arrow-right" iconPos="right"
                (click)="onUsersViewClick()">
            </button>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card">
            <ul class="list-none p-0 m-0">
                <li class="mb-4 flex align-items-center justify-content-start">
                    <p-avatar icon="pi pi-book" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgba(250, 219, 95, 0.1)', 'color': '#DE911D', 'border': '1px solid #FADB5F'}"></p-avatar>
                    <div class="ml-3">
                        <span class="block">
                            Visual analytics identifies key miRNAs for differentiating peripancreatic paraganglioma and pancreatic neuroendocrine tumors
                        </span>
                        <a href="https://www.frontiersin.org/journals/endocrinology/articles/10.3389/fendo.2023.1162725/full" target="_blank">Go to Document</a>
                    </div>
                </li>
    
                <li class="mb-4 flex align-items-center justify-content-start">
                    <p-avatar icon="pi pi-book" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgba(250, 219, 95, 0.1)', 'color': '#DE911D', 'border': '1px solid #FADB5F'}"></p-avatar>
                    <div class="ml-3">
                        <span class="block">Exploratory Analysis of the Gene Expression Matrix Based on Dual Conditional Dimensionality Reduction</span>
                        <a href="https://ieeexplore.ieee.org/document/10091118" target="_blank">Go
                            to Document</a>
                    </div>
                </li>
    
                <li class="mb-4 flex align-items-center justify-content-start">
                    <p-avatar icon="pi pi-book" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgba(250, 219, 95, 0.1)', 'color': '#DE911D', 'border': '1px solid #FADB5F'}"></p-avatar>
                    <div class="ml-3">
                        <span class="block">Two-step residual-error based approach for anomaly detection in engineering systems using variational autoencoders</span>
                        <a href="https://www.sciencedirect.com/science/article/pii/S0045790622003226" target="_blank">Go
                            to Document</a>
                    </div>
                </li>
    
                <li class="mb-4 flex align-items-center justify-content-start">
                    <p-avatar icon="pi pi-book" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgba(250, 219, 95, 0.1)', 'color': '#DE911D', 'border': '1px solid #FADB5F'}"></p-avatar>
                    <div class="ml-3">
                        <span class="block">Differential HIF2α Protein Expression in Human Carotid Body and Adrenal Medulla under Physiologic and Tumorigenic
                        Conditions</span>
                        <a href="https://www.mdpi.com/2072-6694/14/12/2986" target="_blank">Go
                            to Document</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>