<div class="card">
    <p-confirmDialog />
    <p-table #dt [value]="annotations" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowHover]="true"
        responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['name','description','group','type','precalculated','colorized','required']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilterCase(dt, $event)" placeholder="Global Search"
                        class="w-full" />
                </span>
                <button (click)="onAddAnnotation($event)" pButton [disabled]="contextService.getContext().caseId == undefined"
                    class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus"
                    label="Add Annotation"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" class="white-space-nowrap" style="width:25%">Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="description" class="white-space-nowrap" style="width:25%">Description
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="group" class="white-space-nowrap" style="width:25%">Group
                    <p-sortIcon field="group"></p-sortIcon>
                </th>
                <th pSortableColumn="type" class="white-space-nowrap" style="width:25%">Type
                    <p-sortIcon field="type"></p-sortIcon>
                </th>
                <th pSortableColumn="precalculated" class="white-space-nowrap" style="width:25%">Precalculated
                    <p-sortIcon field="precalculated"></p-sortIcon>                    
                </th>
                <th pSortableColumn="colorized" class="white-space-nowrap" style="width:25%">Colorized
                    <p-sortIcon field="colorized"></p-sortIcon>
                </th>
                <th pSortableColumn="required" class="white-space-nowrap" style="width:25%">Required
                    <p-sortIcon field="required"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-annotation>
            <tr (mouseenter)="onToggleOptions($event, options, active)" (mouseleave)="onToggleOptions($event, options, active)" class="cursor-pointer">
                <td>{{annotation.name}}</td>
                <td>{{annotation.description}}</td>
                <td>{{annotation.group}}</td>
                <td>{{annotation.type}}</td>
                <td>
                    <i class="pi h-2rem w-2rem"
                        [ngClass]="{ 'text-green-500 pi-check-circle': annotation.precalculated, 'text-red-500 pi-times-circle': !annotation.precalculated }">
                    </i>
                </td>
                <td>
                    <i class="pi h-2rem w-2rem"
                        [ngClass]="{ 'text-green-500 pi-check-circle': annotation.colorized, 'text-red-500 pi-times-circle': !annotation.colorized }">
                    </i>
                </td>
                <td style="min-width: 10rem;">
                    <div class="flex justify-content-start w-full px-0">
                        <span #active class="text-700 font-semibold white-space-nowrap">
                            <i class="pi h-2rem w-2rem"
                                [ngClass]="{ 'text-green-500 pi-check-circle': annotation.required, 'text-red-500 pi-times-circle': !annotation.required }">
                            </i>
                        </span>
                        <div style="display: none" #options>
                            <button pButton class="h-2rem w-2rem mr-2" icon="pi pi-file-edit" pTooltip="Edit Annotation" tooltipPosition="top"
                                (click)="onEditAnnotation($event, annotation)"></button>
                            <button pButton class="tool-button h-2rem w-2rem p-button-danger" icon="pi pi-trash" pTooltip="Remove Annotation" tooltipPosition="top" 
                                (click)="onRemoveAnnotation($event, annotation)"></button>
                        </div>
                    </div>
                </td>           
            </tr>
        </ng-template>
    </p-table>
</div>