<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Case Form</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Case</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Represent the input resources for your Dataset. And the result projections calculated from these resources</p>
        </div>
        <div class="col-12 lg:col-10">
            <form novalidate [formGroup]="caseFormGroup">
                <div class="grid formgrid p-fluid">
                    <div class="flex flex-wrap justify-content-start gap-3" style="padding-left: 14px;">
                        <div class="field" style="width: 400px;">
                            <label for="project" class="font-medium text-900">Project *</label>
                            <p-dropdown inputId="project" [options]="projects" placeholder="Select a Project" 
                                optionLabel="name" optionValue="projectId" formControlName="projectId">
                            </p-dropdown>
                        </div>
                        <div style="padding-top: 25px;">
                            <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-sm"
                                (click)="menu.toggle($event)"></button>
                            <p-menu #menu [popup]="true" appendTo="body" [model]="menuProjectitems"></p-menu>
                        </div>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="name" class="font-medium text-900">Name *</label>
                        <input id="name" type="text" pInputText formControlName="name">
                        <div *ngIf="caseFormGroup.controls.name.errors && !caseFormGroup.controls.name.pristine">
                            <small *ngIf="caseFormGroup.controls.name.errors['required']" class="p-error">Name is mandatory</small>
                        </div>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="description" class="font-medium text-900">Description</label>
                        <textarea id="description" type="text" pInputTextarea rows="5" [autoResize]="true" formControlName="description"></textarea>
                    </div>    
                </div>
                <div class="flex flex-wrap justify-content-end gap-3">
                    <button (click)="onCancelCase($event)" pButton pRipple label="Cancel"
                        class="p-button-outlined w-auto mt-3"></button>
                    <button (click)="onAddCase($event)" pButton pRipple label="Save Case" class="w-auto mt-3"
                        [disabled]="!caseFormGroup.valid"></button>
                </div>
            </form>
        </div>
    </div>
</div>
